<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'> -->
  </head>
  <body>
   <div class="main-container">
        <h1>Upload your painting</h1>
            <form class="form-horizontal" id="uploadForm" enctype="multipart/form-data" action="/new_painting_upload" method="post">
                <legend>Upload</legend>

                  <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <input name="name" type="text" class="form-control" id="inputName" placeholder="Name">

                  <label for="inputDescription" class="col-lg-2 control-label">Description</label>
                    <input name="description" type="text" class="form-control" id="inputDescription" placeholder="Description">

                  <label for="inputType" class="col-lg-2 control-label">Type of your painting</label>
                    <input name="type" type="text" class="form-control" id="inputType" placeholder="Type">
                <!-- <div class="form-group">
                  <label for="inputImage_url" class="col-lg-2 control-label">Upload the image of your painting</label>
                  <div class="col-lg-10">
                    <input name="image_url" type="text" class="form-control" id="inputImage_url" placeholder="image_url">
                  </div>
                </div> -->
                <label for="inputImage" class="col-lg-2 control-label">Upload the image of your painting</label>
                 <input type="file"  name="image"/>
                <button type="submit" class="btn btn-primary" id="create">Create!</button>
         </form>
     </div>
   <a href="/logout">Logout!</a>

   </body>
  <script src="js/jquery.js"></script>
  <script src="js/script.js"></script>
</html>
