<!doctype html>
<html>
  <head>
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Google Font Architects D  -->
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <!-- Main CSS -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <h1>Artist Paint Hub</h1>
          <a href="/logout">Logout!</a>
      </div>
    </nav>

        <!-- <br> -->
        {{#logged_in}}

    <div class="homepagesection-divider" id="hr1">
      <h2 id="portHeading"> {{nickname}}'s portfolio.</h2>
    </div>

        <div class="content">
     <ul>
       {{#paintings}}
        <!-- <li><a href="#!"><img src="images/korablik.JPG" id="img1" alt="painting1" data-toggle="modal" data-target="#myModal" data-pname="" class=""></a></li> -->
        <li><a href="#!"><img src="{{image}}" id="img1" alt="painting1" data-toggle="modal" data-target="#myModal" data-pname="{{name}}" class=""></a></li>
        {{/paintings}}
    </ul>
     </div>

     <!-- myModal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <img class="modal-src" src="" class="modalimage" alt="Modal Image" style="-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;width:100%">
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-close-button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


     <div class="homepagesection-divider" id="footerHr">
            <a href="/new_painting_upload">Upload your painting</a>
     </div>

        {{/logged_in}}

  </body>
  <!-- Jquery  -->
  <script src="/js/jquery.js"></script>
  <!-- Bootstrap Core JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- Main JS -->
  <script src="/js/script.js"></script>
</html>
