<!doctype html>
<html>
  <head>
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Google Font Architects D  -->
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <!-- Main CSS -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <h1>Artist Paint Hub</h1>
          <a href="/logout">Logout!</a>
      </div>
    </nav>

        <!-- <br> -->
        {{#logged_in}}

    <div class="homepagesection-divider" id="hr1">
      <h2> Welcome, {{nickname}}! You can now create your own awesome portfolio.</h2>
    </div>

    <div class="homepagesection-divider" id="eventHr">
      <h3>Art events happening in your area</h3>
    </div>

     <div class="container" id="eventsContainer">
       <div class="row">
         {{#meetup}}
         <div class="col-md-4">
           <h2>{{group.name}}</h2>
           <!-- <p>Address: {{}}</p> -->
           <p><a class="btn btn-default" href="{{link}}" role="button">Find out more &raquo;</a></p>
         </div>
         <!-- <div class="col-md-4">
           <h2>Event Heading</h2>
           <p>Event description</p>
           <p><a class="btn btn-default" href="#" role="button">Event details link &raquo;</a></p>
        </div> -->
        {{/meetup}}
       </div>

    <!-- <div class="content">
       <ul>
          <li><a href="#!">{{group.name}}</a></li>
       </ul>
    </div> -->

     <div class="homepagesection-divider" id="footerHr">
            <a href="/portfolio">Go to your portfolio</a>
     </div>

        {{/logged_in}}

  </body>
  <!-- Jquery  -->
  <script src="/js/jquery.js"></script>
  <!-- Main JS -->
  <script src="/js/script.js"></script>
</html>
