<!doctype html>
<html>
  <head>
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Google Font Architects D  -->
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <!-- Google Font Patrick Hand SC -->
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
    <!-- Icon -->
    <link rel="shortcut icon" href="images/icon.ico" />
    <!-- Main CSS -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!-- Media-queries CSS -->
    <link href="/css/media-queries.css" rel="stylesheet" type="text/css">
   <body>
     <!-- Navigation -->
   <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
         <h1 id="logo">Artist Paint Hub</h1>
      </div>
  </nav>
  <!-- Form starts here -->
     <div class="container" id="loginForm">
       <h2 id="homeHeading">Welcome! Here you you can display your paintings, connect with other artists and comment on each other's work.</h2>
         <!-- <br> -->
        {{^logged_in}}
            <form class="form-signin" action="/login" method="post">
                <h3 class="form-signin-heading">Please log in</h3>
                <label for="inputEmail" class="sr-only">Email</label>
                    <!-- Text input-->
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email address">
                <label for="inputPassword" class="sr-only">Password</label>
                     <!-- Text input-->
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
            </form>
    </div>
     <!-- Footer -->
        <footer class="footer navbar-bottom">
          <div class="container">
            <p>Not a member? <a href="/signup" id="signup_link">Sign Up!</a></p>
          </div>
       </footer>


        {{/logged_in}}
  </body>
  <!-- Font awesome  -->
  <script src="https://use.fontawesome.com/e21ea2f3ad.js"></script>
  <!-- Jquery  -->
  <script src="/js/jquery.js"></script>
  <!-- Main JS -->
  <script src="/js/script.js"></script>
</html>
